<h1>OsanpoRecord 2025</h1>
<p>これは Tweet 一覧ページです。</p>

<p><%= link_to "新しいおさんぽ記録を追加", new_tweet_path %></p>

<% @tweets.each do |tweet| %>
  <p>
    <%= link_to tweet.subject, tweet_path(tweet) %>
    （<%= tweet.activity_date %>）
  </p>

  <% if tweet.images.attached? %>
    <div class="tweet-images">
      <% tweet.images.first(3).each do |image| %>
        <%= image_tag(
              image.variant(resize_to_limit: [200, 200]).processed,
              class: "tweet-thumbnail"
            ) %>
      <% end %>
    </div>
  <% else %>
    <p>No image</p>
  <% end %>

<% end %>
